
<!-- hello -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>





<body  style="margin-top: 200px;">


    <div class="container h-100" >
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: blue;font-weight: 750;">
                        Edit page</a>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2"><a href="http://localhost:5000/">Home</a></div>
                    <div class="p-2"><a href="http://localhost:5000/show">Show</a></div>

                </div>
            </div>
        </nav>



        <div class="row h-100 justify-content-center align-items-center" style="margin-top: 50px;">
            <div class="col-10 col-md-8 col-lg-6">
                <!-- Form -->
                <form class="form-example" action="/edit/<%=studentdata._id%>" method="post">
                    <h1 style="text-align:center;">Student Form</h1>

                    <!-- Input fields -->
                    <div class="form-group"style="margin-top: 30px;">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control username" id="username" value="<%=studentdata.name%>"
                            name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="Email" class="form-control Email" id="Email" 
                            name="email" value="<%=studentdata.email%>" required>
                    </div>
                    <div class="form-group">
                        <label for="tel">Phone Number</label>
                        <input type="tel" class="form-control Email" id="tel" value="<%=studentdata.phone%>"  name="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control Email" id="password" placeholder="Password..." value="<%=studentdata.password%>"
                            name="password" required>
                    </div>
                    <button type="submit" style="margin-top: 20px;"
                        class="btn btn-primary btn-customized">Update</button>
                    <!-- End input fields -->

                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
</body>

</html>