<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script>

    </script>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>





<body style="margin-top: 200px;">


    <div class="container h-100">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: red;font-weight: 750;">
                        CRUD APP</a>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2"><a href="http://localhost:5000/">Home</a></div>
                    <div class="p-2"><a href="http://localhost:5000/show">Show</a></div>

                </div>
            </div>
        </nav>



        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <!-- Form -->
                <form onsubmit="return validateForm()" name="myForm" class="form-example" action="/add" method="post">
                    <h1 style="text-align:center;margin-top: 70px;">Student Form</h1>

                    <!-- Input fields -->
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control username" id="username" placeholder="Username..."
                        name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="Email" class="form-control Email" id="Email" placeholder="Email..." name="email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="tel">Phone Number</label>
                        <input type="tel" class="form-control Email" id="tel" placeholder="Phone Number..."
                            name="number" minlength="10" maxlength="13" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control Email" id="password" placeholder="Password..."
                            name="password" required>
                    </div>


                    <button type="submit" class="btn btn-primary btn-customized" style="margin-top: 20px;">Sign
                        Up</button>

                    <!-- End input fields -->

                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>
</body>

</html>