<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>



    <!-- search bar -->

    <!-- <div class="input-group searchbar">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search bar</label>
        </div>
        <button> <a href="/email">Search</a></button>
    </div> -->












    <!-- view page -->
    <div class="container h-100" style="margin-top: 150px;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: chocolate;font-weight: 750;">
                        Student Details Page</a>
                </div>
                <div class="d-flex flex-row">
                    <div class="p-2"><a href="http://localhost:5000/">Home</a></div>
                    <div class="p-2"><a href="http://localhost:5000/show">Show</a></div>

                </div>
            </div>
        </nav>


        <table class="table" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Password</th>
                    <th scope="col">Controls</th>
                </tr>
            </thead>
            <tbody>
                <% studentemail.forEach((i)=> { %>
                    <tr>
                        <td>
                            <%=i._id%>
                        </td>
                        <td>
                            <%=i.name%>
                        </td>
                        <td>
                            <%=i.email%>
                        </td>
                        <td>
                            <%=i.phone%>
                        </td>
                        <td>
                            <%=i.password%>
                        </td>
                        <td>
                            <button> <a href="/edit/<%= i.phone%>">view</a></button>
                            <button> <a href="/delete/<%= i._id%>">Delete</a></button>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>




        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
</body>

</html>