
<!-- hello -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>





<body  style="margin-top: 100px;">


    <div class="container h-100" >




        <!-- rest of code -->
        <div class="container">
            <div class="container h-100" style="margin-top: 100px;">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" style="color: green;font-weight: 750;">
                                View Page</a>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-2"><a href="http://localhost:5000/">Home</a></div>
                            <div class="p-2"><a href="http://localhost:5000/show">Show</a></div>
        
                        </div>
                    </div>
                </nav>

                
        <!-- serachbar -->
        <form class="form-example" action="/email" method="post" style="margin-top: 80px;">
            <h1 style="text-align:center;">Student Forms</h1>
    
            <!-- Input fields -->
            <div class="form-group searchbar">
                <label for="username" style="font-weight: 700;">Search Bar</label>
                <input  type="email" class="form-control username" id="username" placeholder="email..." name="email">
            </div>
    
            <button type="submit"  class="btn btn-primary btn-customized" style="margin-top: 10px;">Serach</button>
            <!-- End input fields -->
    
        </form>
    
                <div class="container"> <table class="table" style="margin-top: 70px;">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Password</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% students.forEach((i)=> { %>
                            <tr>
                                <td>
                                    <%=i._id%>
                                </td>
                                <td>
                                    <%=i.name%>
                                </td>
                                <td>
                                    <%=i.email%>
                                </td>
                                <td>
                                    <%=i.phone%>
                                </td>
                                <td>
                                    <%=i.password%>
                                </td>
        
                                <td>
                                    <button> <a href="/edit/<%= i.phone%>">view</a></button>
                                    <button> <a href="/delete/<%= i._id%>">Delete</a></button>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>

            
        </div>






        
    </div>
</body>

</html>